---
layout: default
---
@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

<div class="blog-main">
<div class="blog-post">

<h2 class="blog-post-title" id="post-title">@Model.Title</h2>
<span class="blog-post-meta">
  <b>Date:</b> @Model.Page.Date.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("en-US")).
  <b>Tags:</b>
    @foreach(var tag in Model.Page.Tags)
    {
        <a href="/blog/tag/@Pretzel.Logic.Extra.UrlAliasFilter.UrlAlias(tag)"><span class="badge badge-pill badge-info">@tag</span></a>
    }
</span><br /><br />

@Raw(Model.Content)

<!-- Share -->
@{
    var host = "http://aakinshin.net";
    var title = Model.Page.Title;
    var url = host + Model.Page.Url.Replace("index.html", "");
    var githubUrl = "https://github.com/AndreyAkinshin/aakinshin.net/blob/master/" + (new Uri(Model.Site.SourceFolder).MakeRelativeUri(new Uri(Model.Page.File)).ToString());
}
Share:
<a href="https://twitter.com/intent/tweet?text=@title&url=@url&via=andrey_akinshin&related=andrey_akinshin" rel="nofollow" target="_blank" title="Share on Twitter"><img class="share-button" src="/img/icons/twitter.svg" alt="" /></a>
<a href="https://www.reddit.com/submit?url=@url" target="_blank" title="Share on Reddit"> <img class="share-button" src="/img/icons/reddit.svg" alt="" border="0" /> </a>
<a href="https://news.ycombinator.com/submitlink?u=@url" target="_blank" title="Share on HackerNews"> <img class="share-button" src="/img/icons/hn.svg" alt="" border="0" /> </a>
<a href="https://facebook.com/sharer.php?u=@url" rel="nofollow" target="_blank" title="Share on Facebook"><img class="share-button" src="/img/icons/facebook.svg" alt="" /></a>
<a href="https://plus.google.com/share?url=@url" rel="nofollow" target="_blank" title="Share on Google+"><img class="share-button" src="/img/icons/google-plus.svg" alt="" /></a>
<a href="http://vk.com/share.php?url=@url" target="_blank" title="Share on VKontakte"><img class="share-button" src="/img/icons/vk.svg" alt="" /></a>
<a href="https://getpocket.com/save?url=@url&title=@title" target="_blank" title="Add to Pocket"><img class="share-button" src="/img/icons/pocket.svg" alt="" /></a>
<hr />

<!-- GitHub -->
<div>
  You can find source code of this post on GitHub:<br />
  <a href="@githubUrl">@githubUrl</a>
</div>

</div>
</div>