---
layout: ru-default
---
@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

<div class="blog-main">
<div class="blog-post">

<h2 class="blog-post-title" id="post-title">@Model.Title</h2>
<span class="blog-post-meta">
  <b>Дата:</b> @Model.Page.Date.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ru-RU")).
  <b>Теги:</b>
    @foreach(var tag in Model.Page.Tags)
    {
        <a href="/ru/tags/@Pretzel.Logic.Extra.UrlAliasFilter.UrlAlias(tag)"><span class="badge badge-pill badge-info">@tag</span></a>
    }
</span><br /><br />

@Raw(Model.Content)

<!-- Share -->
@{
    var host = "http://aakinshin.net";
    var title = Model.Page.Title;
    var url = host + Model.Page.Url.Replace("index.html", "");
    var githubUrl = "https://github.com/AndreyAkinshin/aakinshin.net/blob/master/" + (new Uri(Model.Site.SourceFolder).MakeRelativeUri(new Uri(Model.Page.File)).ToString());
}
Поделиться:
<a href="https://twitter.com/intent/tweet?text=@title&url=@url&via=andrey_akinshin&related=andrey_akinshin" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fab fa-twitter fa-2x" title="Twitter"></i></a>
<a href="https://www.reddit.com/submit?url=@url" target="_blank" title="Share on Reddit"><i class="fab fa-reddit fa-2x"></i></a>
<a href="https://news.ycombinator.com/submitlink?u=@url" target="_blank" title="Share on HackerNews"><i class="fab fa-hacker-news fa-2x"></i></a>
<a href="https://facebook.com/sharer.php?u=@url" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fab fa-facebook fa-2x"></i></a>
<a href="https://plus.google.com/share?url=@url" rel="nofollow" target="_blank" title="Share on Google+"><i class="fab fab fa-google-plus-g fa-2x"></i></a>
<a href="http://vk.com/share.php?url=@url" target="_blank" title="Share on VKontakte"><i class="fab fa-vk fa-2x"></i></a>
<a href="https://getpocket.com/save?url=@url&title=@title" target="_blank" title="Add to Pocket"><i class="fab fa-get-pocket fa-2x"></i></a>
<hr />

<!-- GitHub -->
<div>
  Исходный код поста находится на GitHub:<br />
  <a href="@githubUrl">@githubUrl</a>
</div>

</div>
</div>